@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
	/* --font-roboto: "Roboto Condensed", sans-serif; */
	/* --font-neue: "Bebas Neue", sans-serif; */

	--font-primary: "Bebas Neue", sans-serif;
}
